.nav {
    padding-top: 6px;
}


.light {
    background-color: white;
}

.dark {
    background-color: lightgray;
}

.container-fluid {
    overflow: hidden;
    
}

hr {
    width: 75%;
}

.break {
    border-bottom: black thin solid;
    width: 75%;
    margin: 0 auto;
}

.nav-item:hover{
    background-color: blue;
}

.add-btn {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.stickybutt {
    
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}



